<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/details.css">
    <title>Details</title>    
</head>
<body>
    <div id="header">
      <h1 style= "margin-left: 10px;" ><a href= "/pending/all">Event Locator Admin</a></h1>
        <h3><a href = "/admin/logout">Logout</h3></a>

      </div>
      <div id="content"></div>
        <br/>
      <p id = detailstext>Application below:</p>
     <div id = detailbox>
        <% event.forEach(function(event) { %>
          
          <br>
          <br>

          <label for="">event Name:</label>
          <br>  
          <br>
          <strong><%= event.name%> </strong>
          <br>
          <br>


          <label for="">event Logo:</label>
          <br>
          <br> 
          <img src="data:image/jpeg;base64,<%- event.logo  %>"/>
          <br>
          <br>
          <label for="">OrganizerID:</label>
            <br>
            <br> 
          <strong><%= event.organizerID %></strong>
          <br>
          <br> 

          <% organizer.forEach(function(organizer) { %>
            <label for="">Organizer name:</label>
            <br>
            <br> 
          <strong><%= organizer.name %></strong>
            <br>
            <br> 

            <label for="">Organizer email:</label>
            <br>
            <br> 
          <strong><%= organizer.email %></strong>
            <br>
            <br> 

            <label for="">Organizer phone number:</label>
            <br>
            <br> 
          <strong><%= organizer.phoneNumber %></strong>
            <br>
            <br> 

              <% }); %> 
            <label for="">event description:</label> 
            <br>
            <br>
            <strong><%= event.description %></strong>
            <br>
            <br>



            <label for="">event startDate:</label>
            <br>
            <br> 
            <strong><%= event.startDate %></strong>
            <br>
            <br> 


            <label for="">event endDate :</label>
            <br>
            <br> 
            <strong><%= event.endDate %></strong>
            <br>
            <br> 
            <label for="">registrationCloseDateTime:</label>
            <br>
            <br> 
            <strong><%= event.registrationCloseDateTime %></strong>
            <br>
            <br> 


            <label for="">maxParticipants:</label>
            <br>
            <br> 
            <strong><%= event.maxParticipants %></strong>
            <br>
            <br> 
            <%if(session.length>0) {%>
           
            <% session.forEach(function(session) { %>
              <div id = sessionInfo>
              <label for="">Session ID:</label>
              <br>
              <br> 
            <strong><%= session.id %></strong>
              <br>
              <br> 
  
              <label for=""> Session date:</label>
              <br>
              <br> 
            <strong><%= session.date %></strong>
              <br>
              <br> 
              <label for=""> Session start time:</label>
              <br>
              <br> 
             
            <strong><%= session.startTime %></strong>
              <br>
              <br> 

              <label for=""> Session  end time:</label>
              <br>
              <br> 
             
            <strong><%= session.endTime %></strong>
              <br>
              <br> 

              <label for=""> day of week:</label>
              <br>
              <br> 
             
            <strong><%= session.dayOfWeek %></strong>
              <br>
              <br> 
            </div>
              <% }); %> 
           <%}%>
           
              <label for=""> categories:</label>
              <br>
              <br> 
              <strong><%= categories %></strong>
              <br>
              <br> 
        
                
                <%if(locatedevent.length>0){  %> 
                <% locatedevent.forEach(function(locatedevent) { %>
                  <label for=""> city:</label>
                  <br>
                  <br> 
                 
                  <strong><%= locatedevent.city %></strong>
                  <br>
                  <br> 
                  <label for=""> longitude:</label>
                  <br>
                  <br> 
                 
                  <strong><%= locatedevent.longitude %></strong>
                  <br>
                  <br> 

                  <label for=""> latitude:</label>
                  <br>
                  <br> 
                 
                  <strong><%= locatedevent.latitude %></strong>
                  <br>
                  <br> 

                    <% }); %> 
                
                <% } %> 

                
                <% if( event.WhatsappLink == ''){%>
                  <%} else {%>
                <label for="">Whatsapp link:</label>
                <br>
                <br>
                <strong><%= event.WhatsappLink %></strong>
                <br>
                <br> 
                <%}%>            
          
          
   
     </div>   
    <div class= buttons> 
      <button class="btn" type="button" onclick="window.location.href='/event/<%=event.organizerID%>/<%= event.ID %>/0'">Accept</button>
      <button class="btn" type="button" onclick="window.location.href='/event/<%=event.organizerID%>/<%= event.ID %>/1'">Reject</button>
    </div>
    <% }); %>
    
</body>
</html>