<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/details.css">
    <title>Details</title>    
</head>
<body>
    <div id="header">
        <h1>EventLocator</h1>
        <h3><a href = "/admin/logout">Logout</h3></a>
      </div>
      <div id="content"></div>
        <br/>
      <strong><p id = detailstext>Organizer information:</p></strong>
     <div id = detailbox>
        <% organizer.forEach(function(organizer) { %>
          <div id= allInfo>
        
            <br>
            <br>
            <label for="">Organizer name:</label>
            <br>  
            <br>
            <strong><%= organizer.name%> </strong>
            <br>
            <br>


              <label for="">Organizer email:</label> 
              <br>
              <br>
              <strong><%= organizer.email %></strong>
              <br>
              <br>
              <%if (organizer.type == "organization"){%>
                <label for="">logo:</label> 
                <br>
                <br>
                <img src="data:image/jpeg;base64,<%= organizer.logo  %>"/>
                <br>
                <br>

                <% } else{ %> 
                  <%if (organizer.profilePicture == null){%>
                  <label for=""> profile picture:</label> 
                <br>
                <br>
                  <strong>No profile picture available</strong>
                <br>
                <br>
                <% } else{ %>
                  <label for=""> profile picture:</label> 
                <br>
                <br>
                <img src="data:image/jpeg;base64,<%= organizer.profilePicture %>"/>
                <br>
                <br>
                  <% }} %> 

              <label for="">Organizer description:</label>
              <br>
              <br> 
              <strong><%= organizer.description %></strong>
              <br>
              <br> 


              <label for="">Organizer phonenumber :</label>
              <br>
              <br> 
              <strong><%= organizer.phoneNumber %></strong>
              <br>
              <br> 


              <label for="">Proof image:</label>
              <br>
              <br> 
              <img src="data:image/jpeg;base64,<%- organizer.proofImage  %>">
              <br>
              <br>

              <% if( organizer.facebookName == ''){%>
              <%} else {%>
              <label for="">Facebook name:</label>
              <br>
              <br> 
              <strong><%= organizer.facebookName %></strong>
              <br>
              <br> 
               <%}%>

               <% if( organizer.facebookLink == ''){%>
                  <%} else {%>
              <label for="">Facebook link:</label>
              <br>
              <br> 
              <strong><%= organizer.facebookLink %></strong>
              <br>
              <br>
              <%}%>

              <% if( organizer.instagramName == ''){%>
                <%} else {%>
              <label for="">Instagram name:</label>
              <br>
              <br>
              <strong><%= organizer.instagramName %></strong>
              <br>
              <br> 
              <%}%>

              <% if( organizer.instagramLink == ''){%>
                <%} else {%>
            <label for=""> Instagram link:</label>
            <br>
            <br> 
            <strong><%= organizer.instagramLink %></strong>
            <br>
            <br>
            <%}%>

              <% if( organizer.twitterName == ''){%>
                <%} else {%>
              <label for="">Twitter name:</label>
              <br>
              <br> 
              <strong><%= organizer.twitterName %></strong>
              <br>
              <br> 
              <%}%>

              <% if( organizer.twitterLink == ''){%>
                <%} else {%>
              <label for="">Twitter link:</label>
              <br>
              <br> 
              <strong><%= organizer.twitterLink %></strong>
              <br>
              <br> 
              <% } %> 


              <% if( organizer.youTubeName ==''){%>
                <%} else {%>
              <label for="">Youtube name:</label>
              <br>
              <br> 
              <strong><%= organizer.youTubeName %></strong>
              <br>
              <br> 
              <% } %> 
              <br>
              <br> 

              <% if( organizer.youTubeLink == ''){%>
                <%} else {%>
              <label for="">youTube link:</label>
              <br>
              <br> 
              <strong><%= organizer.youTubeLink %></strong>
              <br>
              <br> 
              <% } %> 

              <% if( organizer.linkedInName == ''){%>
                <%} else {%>
              <label for="">LinkedIn name:</label>
              <br>
              <br> 
              <strong><%= organizer.linkedInName %></strong>
              <br>
              <br> 
              <% } %>

              <% if( organizer.linkedInLink == ''){%>
                <%} else {%>
              <label for="">LinkedIn link:</label>
              <br>
              <br> 
              <strong><%= organizer.linkedInLink %></strong>
              <br>
              <br> 
              <% } %>

              <label for=""> Organizer type:</label>
              <br>
              <br>
              <strong><%= organizer.type %></strong>
              <br>
              <br>

            </div>
     </div> 
   
     <div class= "buttons "> 
      <button class="acceptBtn" type="button" onclick="window.location.href='/account/<%= organizer.ID %>/0'">Accept</button>
      <button class="rejectBtn" type="button" onclick="window.location.href='/account/<%= organizer.ID %>/1'">Reject</button>
    </div>
    <% }); %>  
    

</body>
</html>